<footer>
    <div class="logo-box first-row">
        <svg class="cogstar">
            <use href="#cogstar" />
        </svg>
        <span class="logo-text"> <span class="uwuseful">USEFUL</span><span class="uwworks">WORKS</span> </span>
    </div>
    <div class="contact first-row">
        <p>CONTACT</p>
        <p>
            <a href="mailto:hello@usefulworks.uk" target="_self">hello@usefulworks.uk</a>
        </p>
    </div>
    <div class="cta-button first-row">
        <button onclick="return false;">Book a Call</button>
    </div>
    <nav aria-label="footer navigation">
        <ul>
            <li><a href="about.html">About Us</a></li>
            <li><a href="legal.html#privacy">Privacy Policy</a></li>
            <li><a href="legal.html#t-and-c">Terms & Conditions</a></li>
        </ul>
    </nav>
    <div class="legal">
        <p>
            Copyright &copy; 2025
            <a href="#" target="_top">UsefulWorks</a> Ltd., All Rights Reserved.
        </p>
        <p>UsefulWorks is a business transformation consultancy that helps companies of all sizes grow and thrive in the digital age.</p>
    </div>
    <div>
        <label>
            <input id="theme-switch" name="theme-switch" type="checkbox" role="switch" aria-invalid="true" />
            enable bw mode
        </label>
    </div>
</footer>