<ul>
    <li class="logo-box">
        <svg class="cogstar">
            <use href="#svg-cogstar" />
        </svg>
        <span class="uw-logo-text">
            <span class="uw-useful">USEFUL</span><span class="uw-works">WORKS</span>
        </span>
    </li>
    <li class="contact">
        <p>CONTACT</p>
        <p>
            <a href="mailto:hello@usefulworks.uk" target="_self">hello@usefulworks.uk</a>
        </p>
    </li>
    <li class="cta-button">
        <button role="button">Book a Call</button>
    </li>
</ul>
<nav aria-label="footer navigation">
    <ul>
        <li><a href="about.html">About Us</a></li>
        <li><a href="legal.html#privacy">Privacy Policy</a></li>
        <li><a href="legal.html#t-and-c">Terms & Conditions</a></li>
    </ul>
</nav>
<div class="legal">
    <p>
        Copyright &copy; 2025
        <a href="index.html">UsefulWorks</a> Ltd. All Rights Reserved.
    </p>
    <p>UsefulWorks is a business transformation consultancy that helps companies of all sizes grow and thrive in the digital age.</p>
</div>
<div class="theme-switch">
    <label>
        <input id="theme-switch" name="theme-switch" type="checkbox" role="switch" aria-invalid="true" />
        <span>enable dark mode</span>
    </label>
</div>
