<nav aria-label="top navigation">
    <ul>
        <li>
            <svg class="cogstar">
                <use class="outer" href="#svg-cogstar-outer" />
                <use class="inner" href="#svg-cogstar-inner" />
            </svg>
            <a href="index.html"><span class="uw-useful">USEFUL</span><span class="uw-works">WORKS</span></a>
        </li>
    </ul>
    <ul>
        <li><a href="about.html">About Us</a></li>
        <li><a href="#contact">Contact</a></li>
        <li><button role="button"><span class="navbar-toggler-icon">☰</span></button></li>
    </ul>
</nav>
<h1>
    Welcome to
    <span class="uw-logo-text">
        <span class="uw-useful">USEFUL</span><span class="uw-works">WORKS</span>
    </span>
</h1>
<div>
    <a href="#contact" role="button" class="action-button">
        <svg><use href="#svg-mail-icon" /></svg>
        <span>Get In Touch!</span>
    </a>
</div>
