<header>
    <nav aria-label="top navigation">
        <ul>
            <h1>
                <svg class="cogstar">
                    <use class="outer" href="#cogstar-outer" />
                    <use class="inner" href="#cogstar-inner" />
                </svg>
                <span class="logo-text"><span class="uwuseful">USEFUL</span><span class="uwworks">WORKS</span></span>
            </h1>
        </ul>
        <ul>
            <li><a href="index.html">HOME</a></li>
            <li><a href="about.html">ABOUT US</a></li>
            <li><button id="btnLetsTalk">LET&apos;S TALK</button></li>
        </ul>
    </nav>
</header>