<nav aria-label="top navigation">
    <ul>
        <li><a href="index.html"><span class="uwuseful">USEFUL</span><span class="uwworks">WORKS</span></a></li>
    </ul>
    <ul>
        <li><a href="about.html">About Us</a></li>
        <li><a href="#contact">Contact</a></li>
        <li><button role="button"><span class="navbar-toggler-icon">☰</span></button></li>
    </ul>
</nav>
<h1>
    <svg class="cogstar">
        <use class="outer" href="#cogstar-outer" />
        <use class="inner" href="#cogstar-inner" />
    </svg>
    <span class="logo-text"><span class="uwuseful">USEFUL</span><span class="uwworks">WORKS</span></span>
</h1>
