<nav aria-label="top navigation">
    <ul>
        <li>
            <svg class="cogstar">
                <use class="outer" href="#cogstar-outer" />
                <use class="inner" href="#cogstar-inner" />
            </svg>
            <a href="index.html"><span class="uw-useful">USEFUL</span><span class="uw-works">WORKS</span></a>
        </li>
    </ul>
    <ul>
        <li><a href="about.html">About Us</a></li>
        <li><a href="#contact">Contact</a></li>
        <li><button role="button"><span class="navbar-toggler-icon">☰</span></button></li>
    </ul>
</nav>
<h1>
    Welcome To
    <span class="uw-logo-text">
        <span class="uw-useful">USEFUL</span><span class="uw-works">WORKS</span>
    </span>
</h1>
<p class="actionbtn-out">
    <a href="#contact" role="button" class="actionbtn"><span aria-hidden="true">M&nbsp;</span>Get In Touch</a>
</p>
